/* font-family: 'Noto Serif', serif;
font-family: 'Tajawal', ;

 */

body {
	font-family: 'Tajawal', sans-serif;
	font-size: 16px;
	margin:0;
	padding:0;

	 }

	 .sidenav {
	   height: 100%;
	   width: 0px;
	   position: fixed;
	   z-index: 1;
	   top: 0;
	   left: 0;
	   background-color: #111; /* Black*/
	   overflow-x: hidden; /* Disable horizontal scroll */
	   padding-top: 60px; /* Place content 60px from the top */
	   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	 }

	 
	 .sidenav a {
	   padding: 8px 8px 8px 32px;
	   text-decoration: none;
	   font-size: 25px;
	   color: #818181;
	   display: block;
	   transition: 0.3s;
	 }

	 /* When you mouse over the navigation links, change their color */
	 .sidenav a:hover {
	   color: #f1f1f1;
	 }

	 /* Position and style the close button (top right corner) */
	 .sidenav .closebtn {
	   position: absolute;
	   top: 0;
	   right: 25px;
	   font-size: 36px;
	   margin-left: 50px;
	 }

	 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	 #main {
	   transition: margin-left .5s;
	   padding: 20px;
	 }

	 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	 @media screen and (max-height: 450px) {
	   .sidenav {padding-top: 15px;}
	   .sidenav a {font-size: 18px;}
	 }
h1, h2, h3, h4 {
	font-family: 'Tajawal', sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}

blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a {
	color: white;
	text-decoration: none;
	 }
a:hover { color: black; }

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0px;
	width: 100%;
	margin: auto;
}

.grid div {
	background-color: (0,0,0);


}

.grid_2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1px;
	width: 100%;
	margin: auto;
}

.grid_2 div {

	padding: 30px;
}

.grid-3{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
	width: 100%;
	margin: auto;



}
.one {
	background-color: rgb(242,143,56);

}
.two {
	background-color: rgb(217,94,50);

}
.three{
	background-color: rgb(191,82,57);
}
.image-text {
  position: relative;
  width: 300px;
  margin: auto;
}

.image-text img {
  width: 100%;
}
.image-text .text-hover {
  display: block;
  width: 300px;
  height: auto;
}

.image-text .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  opacity: 0;
  transition: .5s ease;


}

.image-text:hover .overlay {
  opacity: 1;
}

.image-text .text {
  color: white;
  font-family: 'Noto Serif', serif;;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
p{
	color: black;
	font-family: 'Tajawal', sans-serif;
}
svg {
	color:white;
}


.buildings{
	height:400px;


}
.bil{
    width: auto;
height: 500px;
}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
.parallax {
  /* The image used */
  background-image: url("https://arc-anglerfish-arc2-prod-advancelocal.s3.amazonaws.com/public/LLCXLBOMD5C2DGFX5EBHNNFDEE.jpg");


  /* Set a specific height */
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax-2 {
  /* The image used */
  background-image: url("https://www.wweek.com/resizer/uTC2bmVPtYIFYGPvEEr_diHeF3A=/1200x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/wweek/wp-content/uploads/2020/01/07143826/PSU_aerial_HCromett.jpg");


  /* Set a specific height */
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
